@model WebSite_QL_VeXe.Models.KhachHang

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng Ký</title>
    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/StyleDangky.css" rel="stylesheet" />
    <link href="~/Bootstrap/css/App-DangKy.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />
</head>
<body style="background-image:url(/Image//Background.jpg); background-size:cover; font-size:16px;color:white">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-3">
                <h3><a href="/Home/TrangChu" style="color:white"><input type="button" value="Trang Chủ " class="button-trangchu"></a></h3>
            </div>
        </div>
        <div class="row" id="wrapper">
            <form action="/Home/DangKyKH" method="post" style="margin-left:600px;" id="form-register-dn-uv">
                <h2 style="text-align:center"><b>Đăng ký thành viên</b></h2>
                <h5 style="text-align:center">Chào Mừng Bạn Đến Với VEXERE.COM</h5>
                <div class="form-group">
                    <div>Email:</div>
                    <input type="email" class="form-input" id="email" placeholder="Nhập email" name="dkyemail" style="width:430px;color:white;">
                </div>
                <div class="form-group">
                    <div>Mật khẩu:</div>
                    <input type="password" class="form-input" id="pwd" placeholder="Nhập mật khẩu" name="dkypassword" style="width:430px;color:white;">
                    <i id="eye" class="pointer far fa-eye" style="width:25.75px;margin-left:28px"></i>
                </div>
                <div class="form-group">
                    <div>Xác nhận mật khẩu:</div>
                    <input type="password" class="form-input" id="pwd" placeholder="Nhập lại mật khẩu" name="dkyxacnhanmatkhau" style="width:430px;color:white;">
                    <i id="eye1" class="pointer far fa-eye" style="width:25.75px;margin-left:28px"></i>
                </div>
                <div class="form-group">
                    <div>Họ và tên:</div>
                    <input type="text" class="form-input" id="pwd" placeholder="Nhập họ tên" name="dkyhoten" style="width:430px;color:white;" />
                </div>
                <div class="form-group">
                    <div>Căn cước công dân/Chứng Minh Nhân Dân:</div>
                    <input type="text" class="form-input" id="pwd" placeholder="Nhập địa chỉ" name="dkycancuoc" style="width:430px;color:white;" />
                </div>
                <div class="form-group">
                    <div>Số điện thoại:</div>
                    <input type="text" class="form-input" id="pwd" placeholder="Nhập số điện thoại" name="dkysdt" style="width:430px;color:white;" />
                </div>
                <div class="form-group">
                    <div>Ngày sinh:</div>
                    <input type="date" class="form-input" id="pwd" placeholder="Nhập Ngày sinh" name="dkyngaysinh" style="width:430px;color:white;" />
                </div>
                <br />
                <div class="col-md-12" style="color:white">
                    @Html.ValidationSummary()
                </div>
                <div>
                    <button type="submit" class="form-submit" style="color:white;margin-right:300px"><b>Đăng Ký</b></button>
                </div>
                <div>
                    <br />
                    <a style="color:white;"> Nếu có tài khoản thì đăng nhập ở đây! </a>
                    <a href="#" style="color:white"><input type="button" value="Đăng Nhập" class="DN-dn-uv"></a>
                </div>
            </form>
        </div>
    </div>
    <br />
    <br />
    <br />
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="~/bootstrap/js/App-DK-JS.js"></script>
