
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutPage_TrangChu.cshtml";
}

<address>
    Công ty TNHH Thương Mại Dịch Vụ Vexere<br />
    140 Lê Trọng Tấn, Phường Tây Thạnh , Quận Tân Phú , Thành phố Hồ Chí Minh , Việt Nam<br />
    <abbr title="Phone">Số Điện Thoại:</abbr>
    123.555.0000
</address>

<address>
    <strong>Hỗ Trợ:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

