
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutPage_TrangChu.cshtml";
}

<h1>QUY CHẾ HOẠT ĐỘNG SÀN GIAO DỊCH THƯƠNG MẠI ĐIỆN TỬ VEXERE.COM</h1><br />
<div class="table border-top border-info">


    <b>Thông tin hỗ trợ hành khách: </b><br />
    Ban quản lý website VeXeRe.com: Công ty Cổ phần VEXERE.<br />
    Địa chỉ: Lầu M, Khu B, Tòa nhà Sài Gòn Town, 83/16 Thoại Ngọc Hầu, Phường Hòa Thạnh, Quận Tân Phú, TP. Hồ Chí Minh, Việt Nam.<br />
    Điện thoại: 1900 7070 hoặc 1900 969681.<br />
    Email:  cs@VeXeRe.com.<br />
    <br />


    <b>Quản lý thông tin xấu: </b><br />
    Ban quản lý website VeXeRe.com: Công ty Cổ phần VEXERE.<br />
    Địa chỉ: Lầu M, Khu B, Tòa nhà Sài Gòn Town, 83/16 Thoại Ngọc Hầu, Phường Hòa Thạnh, Quận Tân Phú, TP. Hồ Chí Minh, Việt Nam.<br />
    Điện thoại: 1900 7070 hoặc 1900 969681.<br />
    Email:  cs@VeXeRe.com.<br />
    <br />
</div>


<address>
    <strong>Hỗ Trợ:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

