
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutPage_KhachHang.cshtml";
}

<h1>Chính sách bảo mật</h1><br />
<div class="table border-top border-info">
    Vexere.com là nền tảng kết nối người dùng và nhà xe. Thông tin hành khách sẽ được chuyển đến nhà xe ngay khi khách hàng đặt vé thành công. Đặt vé qua hệ thống Vexere.com, khách hàng có thể yên tâm khi tất cả thông tin đều được chuyển đến nhà xe một cách đầy đủ và chính xác, cam kết 100% có vé cho khách hàng.<br />
    <h2>Mục đích áp dụng</h2><br />
    Bảo mật thông tin thanh toán khi giao dịch trên các sàn thương mại điện tử đang được khách hàng rất quan tâm. Sàn giao dịch thương mại điện tử Vexere.com được kết nối với nhiều tối tác Cổng Thanh Toán. Các Đối Tác như: Zalopay, VNPay, MoMo, Airpay,… đã được cấp phép hoạt động hợp pháp tại Việt Nam. Chính vì vậy, quy trình bảo mật khi thanh toán tại Vexere được tuân thủ theo tiêu chuẩn của đối tác thanh toán, tổ chức ngân hàng. <br />
    <br />

    <h2>Quy định cụ thể</h2><br />
    <h3>Chính sách bảo mật đảm bảo tuân thủ các tiêu chuẩn của các Đối Tác Cổng Thanh Toán</h3><br />
    – Tiêu chuẩn bảo mật dữ liệu trên internet SSL (Secure Sockets Layer).
    – Chứng nhận tiêu chuẩn bảo mật dữ liệu thông tin thanh toán (PCI DSS) do Trustwave cung cấp.
    – Tiêu chuẩn mã hóa SHA 256 bit.
    – Mật khẩu (OTP) được gửi qua SMS để đảm bảo việc truy cập tài khoản được xác thực. Mã hóa 3D của thẻ Visa và MasterCard (được xác nhận bởi Visa và MasterCard về tính bảo mật).
    – Các nguyên tắc và quy định bảo mật thông tin trong ngành tài chính ngân hàng theo quy định của Ngân hàng nhà nước Việt Nam.
    <br />

    <h3>Chính sách bảo mật giao dịch trong thanh toán của Vexere áp dụng với Khách hàng</h3><br />
    – Vexere cung cấp tiện ích lưu giữ token – chỉ lưu chuỗi đã được mã hóa bởi Đối Tác Cổng Thanh Toán cung cấp cho Vexere. Vexere không trực tiếp lưu trữ thông tin thẻ khách hàng. Việc bảo mật thông tin thẻ thanh toán được thực hiện bởi Đối Tác Cổng Thanh Toán được cấp phép.
    – Thẻ quốc tế: thông tin thẻ thanh toán có khả năng sử dụng để xác lập giao dịch không được lưu trên hệ thống của Vexere. Đối Tác Cổng Thanh Toán sẽ lưu trữ và bảo mật.
    – Đối với thẻ nội địa: Vexere chỉ lưu trữ mã đơn hàng, mã giao dịch và tên ngân hàng.
    <br />

    <h2>Cam kết của Vexere dành cho khách hàng</h2><br />
    Mọi thông tin mà khách hàng cung cấp trong suốt quá trình đặt vé sẽ được bảo mật tuyệt đối, không chuyển giao cho bên thứ ba nào khác, trừ trường hợp buộc phải cung cấp khi Cơ quan pháp luật yêu cầu.<br />
    Vexere sẽ có biện pháp xử lý khi phát hiện hoặc nhận được phản ánh từ khách hàng khi mua vé và có phát sinh mâu thuẫn với hãng xe. Vexere sẽ tích cực hỗ trợ và bảo vệ quyền và lợi ích hợp pháp của khách hàng.<br />
    Giá vé của khách hàng sẽ được thu đúng theo biểu giá tuyến đường do nhà xe cung cấp.<br />
    Trong trường hợp có bất cứ sự cố nào phát sinh trong quá trình sử dụng dịch vụ như nhà xe hủy chuyến, nhà xe không có thông tin khách,… Vexere sẽ cố gắng hỗ trợ khách hàng tìm dịch vụ thay thế tùy thuộc vào các lựa chọn sẵn có. Trong trường hợp không có dịch vụ thay thế nào, Vexere cam kết sẽ có chính sách bồi hoàn thỏa đáng, và sẽ được điều chỉnh theo từng trường hợp cụ thể.<br />
    Chúng tôi luôn hoan nghênh các ý kiến đóng góp, liên hệ và phản hồi thông tin từ bạn về “Chính sách bảo mật” này.<br />

    <h2>Các dịch vụ mà VeXeRe.com cung cấp</h2><br />

    Vexere.com là nền tảng kết nối người dùng và nhà xe. Thông tin hành khách sẽ được chuyển đến nhà xe ngay khi khách hàng đặt vé thành công. Đặt vé qua hệ thống Vexere.com, khách hàng có thể yên tâm khi tất cả thông tin đều được chuyển đến nhà xe một cách đầy đủ và chính xác, cam kết 100% có vé cho khách hàng.<br />
    <b>Quản lý hoạt động của Sàn giao dịch thương mại điện tử VeXeRe.com</b><br />
    Chào mừng bạn ("hành khách" hoặc "bạn") ghé thăm trang Web của chúng tôi ("Trang Web"). Sàn giao dịch thương mại điện tử VeXeRe.com  ("VeXeRe.com" hoặc "chúng tôi") - thuộc quyền sở hữu của Công ty Cổ phần VEXERE - là tổ hợp các dịch vụ phục vụ nhu cầu liên quan đến mua bán vé xe khách trực tuyến, nhằm hỗ trợ tối đa cho tất cả các đối tượng có nhu cầu đi lại, các hãng xe có nhu cầu bán vé xe và dịch vụ vận chuyển hành khách qua hệ thống trực tuyến. Các tài liệu tham khảo cho Trang Web được coi là bao gồm các dẫn xuất của chúng, bao gồm nhưng không giới hạn các trình duyệt và các ứng dụng trên điện thoại di động.<br />
    Bằng việc truy cập, xem và sử dụng Trang Web và/hoặc bằng việc đặt vé xe khách qua VeXeRe.com, bạn xác nhận đồng ý và đã đọc, hiểu và chấp thuận bị ràng buộc bởi Quy chế hoạt động của Sàn giao dịch thương mại điện tử VeXeRe.com và các Điều khoản sử dụng, các chính sách, hướng dẫn khác của chúng tôi, mà bạn có thể thấy trên khắp Trang Web, bao gồm nhưng không giới hạn ở Chính sách Bảo Mật, Chính sách hủy vé, Chính sách hoàn tiền, Hướng dẫn thanh toán, Cơ chế giải quyết tranh chấp v.v. Các điều khoản đưa ra dưới đây nếu không chấp thuận, xin vui lòng ngưng việc sử dụng Trang Web ngay lập tức.<br />
    <b>Lưu ý:</b> Chỗ ngồi không đặt được trên VeXeRe không đồng nghĩa là chỗ đó đã được bán. Nhà xe có thể muốn giữ chỗ đó để xử lý trường hợp đặc biệt, hoặc không mở bán trên web, hoặc vì các lý do khác phụ thuộc vào nghiệp vụ nhà xe.<br />
    <br />

    <b>Vé</b><br />
    Vé là bằng chứng xác nhận hợp đồng vận chuyển Hành khách và Hãng vận chuyển.<br />
    Vé chỉ có giá trị đối với Hành khách có tên và hành trình được ghi rõ trong vé.<br />
    Hãng vận tải chỉ cung cấp dịch vụ vận chuyển cho Hành khách có tên trên vé.<br />
    Vé chỉ có thể được chuyển nhượng, đổi, hoàn, hủy vé theo quy định của điều khoản sử dụng, điều kiện vé và biểu phí ban hành trong từng thời kỳ.<br />
    <br />

    <b>Giá vé/Cước vận chuyển</b><br />
    Giá cước là giá do Hãng vận tải công bố vào từng thời điểm mua vé.<br />
    Hành khách có trách nhiệm thanh toán mọi khoản thuế, phí và lệ phí; phụ thu áp dụng cho Hành khách được quy định bởi, Nhà chức trách hoặc tổ chức có thẩm quyền, hoặc VeXeRe.com hoặc các Hãng vận chuyển. Tại thời điểm mua vé Hành khách sẽ được thông báo các khoản thuế, phí và lệ phí, phụ thu ngoài giá cước.<br />
    VeXeRe.com có quyền từ chối cung cấp dịch vụ và Hãng vận tải có quyền từ chối vận chuyển Hành khách và Hành lý nếu như giá cước áp dụng, thuế, phí và lệ phí, phụ thu không được thanh toán đầy đủ.<br />
    Giá cước, thuế, phí và lệ phí; phụ thu được thanh toán bằng đồng tiền quy định trên hệ thống do VeXeRe.com công bố, trừ trường hợp pháp luật có quy định khác hoặc có quyết định khác từ cơ quan nhà nước có thẩm quyền.<br />
    <br />


    <b>Điểm dừng</b><br />
    Điểm dừng có thể được chấp nhận tại Điểm dừng có thỏa thuận phù hợp với yêu cầu của Nhà chức trách và quy định của Hãng vận chuyển.<br />
    Điểm dừng phải được thu xếp trước với hãng vận chuyển và được ghi trên Vé.<br />
    <br />


    <b>Đặt chỗ</b><br />
    Đặt giữ chỗ: Được thực hiện trên hệ thống thông qua trang web hoặc Phòng vé hoặc Đại lý hoặc Tổng đài, sau đó Hành khách sẽ được cấp mã số đặt chỗ.
    Xác nhận đặt chỗ: Được thực hiện sau khi hành khách hoàn tất việc thanh toán trên hệ thống. Hành khách sẽ được cấp Vé với mã số đặt chỗ được xác nhận.
    Trong một số trường hợp, việc mua vé có xác định thời gian cần thanh toán trước giờ khởi hành, hành khách phải hoàn thành việc thanh toán thì Hành khách mới được cấp mã đặt chỗ và xác nhận chỗ.
    Thay đổi đặt giữ chỗ bao gồm thay đổi tên hành khách, hành trình, thời gian khởi hành, được quy định như sau:
    Quý khách phải thanh toán các khoản phí thay đổi và chênh lệch giá vé (nếu có) do việc thay đổi vé của quý khách.
    Việc thay đổi chỉ được hoàn thành sau khi thanh toán phí thay đổi theo Biểu phí của VeXeRe.com công bố từng thời kỳ và chênh lệch Giá cước vận chuyển (nếu có). VeXeRe.com sẽ cập nhật lại thông tin thay đổi vào vé của hành khách.
    Vé phải được thanh toán đầy đủ trước khi VeXeRe.com xác nhận đặt chỗ thành công. Trong bất kỳ trường hợp nào mà giá trị vé không được thanh toán đầy đủ thì VeXeRe.com có quyền hủy đặt chỗ.
    Thông tin cá nhân: Hành khách chấp nhận rằng thông tin cá nhân của hành khách được chuyển cho VeXeRe.com vì mục đích sử dụng dịch vụ do VeXeRe.com cung cấp. Vì mục đích trên, Hành khách đồng ý cho phép VeXeRe.com lưu trữ và sử dụng các thông tin cá nhân và chuyển tải các thông tin đó tới hãng vận chuyển, các đại diện ủy quyền phát hành vé, cơ quan nhà nước có thẩm quyền, hoặc các nhà cung cấp dịch vụ liên quan khác.
    VeXeRe.com có thể sử dụng các thông tin cá nhân được Hành khách cung cấp mà VeXeRe.com có được, bao gồm các thông tin về quá trình thanh toán của Hành khách và các dịch vụ tiện ích khác sử dụng để phục vụ cho mục đích:
    - Đặt giữ chỗ, thanh toán và mua vé, cung cấp các dịch vụ vận chuyển, các dịch vụ và trang thiết bị có liên quan;
    - Kế toán, xuất hóa đơn và kiểm toán, kiểm tra thẻ tín dụng hoặc thẻ thanh toán khác;
    - Thống kê và phân tích thị trường, quản lý chương trình khách hàng thường xuyên
    - Quan hệ khách hàng;
    - Tiếp thị trực tiếp và điều tả thị trường;
    Chỗ ngồi: Đã được quy định trong vé của quý khách. Hành khách sẽ được sắp chỗ khi lên xe, tuy nhiên hãng xe có quyền đổi chỗ của quý khách bất kỳ lúc nào, ngay cả khi hành khách đã lên xe. Việc thay đổi này có thể là bắt buộc vì các nguyên nhân an toàn, quy định của Nhà chức trách, sức khỏe của Hành khách hoặc lý do an ninh.
    <br />


    <h2>Nguyên tắc hoạt động của VeXeRe.com</h2><br />
    Các tổ chức, cá nhân tham gia giao dịch trên VeXeRe.com phải tôn trọng quyền và lợi ích hợp pháp của các bên tham gia.<br />
    Vé Điện Tử: Hoạt động mua bán dịch vụ thông qua hợp đồng mua bán là vé điện tử, do VeXeRe.com cung cấp cho hành khách mua vé qua hệ thống của VeXeRe.com bao gồm ít nhất những thông tin sau: MÃ VÉ, SỐ GHẾ. Vé Điện Tử không có giá trị như một hóa đơn GTGT.  Vé Điện Tử có thể ở dạng cứng do khách hàng in ra hoặc tin nhắn SMS hoặc email gửi từ VeXeRe.com, không trái với qui định của pháp luật.<br />
    Dịch vụ vận chuyển hành khách tham gia giao dịch tại VeXeRe.com phải đáp ứng đầy đủ các quy định của pháp luật có liên quan, không thuộc các trường hợp cấm kinh doanh, cấm quảng cáo theo quy định của pháp luật hiện hành.<br />
    Khi các thành viên và/hoặc đối tác truy cập vào website VeXeRe.com để mua dịch vụ thì mặc định rằng các thành viên và/hoặc đối tác đã đồng ý tuân thủ và chấp thuận bị ràng buộc bởi Quy chế hoạt động của Sàn giao dịch thương mại điện tử VeXeRe.com.<br />
    VeXeRe.com không sở hữu và/hoặc vận hành các dịch vụ xe khách. Hành khách có thể đặt vé xe khách trực tuyến từ bất cứ đâu có kết nối internet bằng cách lựa chọn hãng xe, thời gian khởi hành và giá cả, và có toàn quyền lựa chọn và sử dụng dịch vụ của các hãng xe trên website VeXeRe.com.<br />
    Nội dung văn bản này, cùng với các văn bản sửa đổi, bổ sung và thay thế theo thời gian, tạo thành một phần không tách rời của thỏa thuận mua bán giữa VeXeRe.com và người mua vé. Những nội dung nào chưa được quy định rõ trong văn bản này, hoặc có bất kỳ sự đối lập nào sẽ được áp dụng theo các quy định và pháp luật hiện hành có liên quan.<br />
    <br />


    <h2>Quy trình giao dịch </h2><br />
    <b>Cách thức mua vé và thanh toán trên VeXeRe.com</b><br />
    VeXeRe.com được xây dựng nhằm hỗ trợ tối đa cho khách hàng có nhu cầu mua vé xe trực tuyến, cung cấp đầy đủ thông tin các hãng xe và tuyến xe được khách hàng quan tâm, tư vấn nhiều lựa chọn dịch vụ vận chuyển hành khách phù hợp với nhu cầu của khách hàng. Ngoài ra, VeXeRe.com còn cung cấp cho khách hàng danh sách các điểm bán vé tin cậy với đầy đủ thông tin giá cả, chính sách hỗ trợ để khách hàng tham khảo, giúp khách hàng tránh gặp phải những trường hợp không mong muốn như mua vé không đảm bảo chất lượng, giá thành cao, hoặc một số vấn đề thường gặp khác.<br />
    Khi có nhu cầu mua vé trên VeXeRe.com, khách hàng nên thực hiện theo các bước sau đây:<br />
    - Bước 1: Tìm kiếm tuyến xe khách hàng đang quan tâm bằng cách chọn nơi đi, nơi đến, ngày đi trên website VeXeRe.com.<br />
    - Bước 2: Tham khảo các thông tin được VeXeRe.com đăng tải, bao gồm hãng xe, giá cả, thời điểm khởi hành, loại ghế . Sau khi đã chon lựa xong, khách hàng đặt vé bằng cách nhấn vào nút "Chọn chỗ", chọn Vị trí ghế, sau đó chọn "Tiếp tục".<br />
    - Bước 3: Khai báo thông tin liên hệ, thông tin hành khách (trường hợp mua vé hộ người khác),  và lựa chọn phương thức thanh toán (bao gồm thanh toán online bằng thẻ ATM nội địa sử dụng Internet Banking của các Ngân hàng, thẻ Visa, MasterCard, Ví điện tử, hoặc các hình thức khác). Sau đó thực hiện thanh toán tiền vé theo hướng dẫn.<br />
    - Bước 4: Sau khi nhận được 1 tin nhắn SMS và 1 email thông báo hành trình từ VeXeRe.com, vui lòng kiểm tra thông tin về chuyến đi, thời gian, mã vé.<br />
    - Bước 5:  Tùy vào mô hình hoạt động của hãng xe, khách hàng có thể sử dụng tin nhắn SMS hay email xác nhận của VeXeRe.com để lên xe hoặc đổi sang vé giấy tại phòng vé của hãng xe đã chọn sử dụng dịch vụ.<br />
    <br />


    <b>Bảo đảm an toàn giao dịch:</b><br />
    Sàn giao dịch thương mại điện tử VeXeRe.com xây dựng cơ chế bảo đảm an toàn giao dịch như sau:<br />
    Quản lý thông tin của nhà cung cấp dịch vụ vận chuyển hành khách: Khi đã tham gia bán vé hoặc dịch vụ vận chuyển hành khách trên sàn giao dịch thương mại điện tử VeXeRe.com, các hãng xe phải cung cấp đầy đủ các thông tin liên quan đến các tuyến xe và các dịch vụ kèm theo và phải hoàn toàn chịu trách nhiệm đối với các thông tin này. Các thông tin cụ thể bao gồm: thông tin về nhân thân đối với cá nhân, thông tin về tư cách pháp lý đối với tổ chức, pháp nhân. Các thông tin này sẽ được VeXeRe.com đưa vào dữ liệu quản lý. Đồng thời các dịch vụ đi kèm của hãng xe được đăng trên VeXeRe.com là các dịch vụ đã được các hãng xe ký Hợp đồng hợp tác với các Nhà cung cấp.<br />
    Kiểm soát giao dịch của VeXeRe.com: Các giao dịch của hãng xe với khách hàng sẽ được VeXeRe.com đưa vào nội dung quản lý, thường xuyên cập nhật tình trạng.<br />
    Kiểm soát thông qua phản hồi của Hành khách: Khách hàng có quyền gửi khiếu nại về hãng xe đến Ban quản lý của Sàn giao dịch thương mại điện tử VeXeRe.com. Khi tiếp nhận những phản hồi này, VeXeRe.com sẽ xác nhận lại thông tin. Trường hợp đúng như phản ánh của Khách hàng, tùy theo mức độ, VeXeRe.com sẽ có những biện pháp xử lý kịp thời.<br />
    <br />


    <b>Khuyến mãi và Giảm Giá:</b><br />
    Chỉ được áp dụng tối đa 01 chương trình giảm giá/khuyến mãi hoặc 01 mã giảm giá/khuyến mãi cho một lần thanh toán đặt vé;<br />
    Bất kỳ khuyến mãi nào được đưa ra bởi VeXeRe.com và/hoặc các đối tác của VeXeRe.com có thể được thay đổi mà không cần thông báo trước;<br />
    Mỗi khuyến mãi có thể có các điều khoản sử dụng riêng, hành khách có trách nhiệm tham khảo trang cung cấp khuyến mãi.<br />
    <br />


    <b>Xử lý khiếu nại:</b><br />
    Khi có khiếu nại, hành khách cần thông báo trong thời gian 7 ngày kể từ ngày khởi hành.<br />
    Khiếu nại về hãng xe có thể gửi đến Ban quản lý VeXeRe.com theo chi tiết liên hệ đăng trên website. Khi tiếp nhận những phản hồi này, VeXeRe.com sẽ xác nhận lại thông tin, trường hợp đúng như phản ánh, tùy theo mức độ sẽ có những biện pháp xử lý kịp thời.<br />
    Khách hàng cần phải thường xuyên đọc và tuân theo các Chính sách và Quy định đang được đăng trên Quy Chế Quản Lý Sàn Giao Dịch VeXeRe.com để có thể hiểu và thực hiện được các Chính sách và Quy định tại thời điểm đó.<br />
    <br />


    <b>Quyền và nghĩa vụ của VeXeRe.com:</b><br />
    Quyền của VeXeRe.com: <br />
    VeXeRe.com có quyền kiểm tra, cập nhật, chỉnh sửa các thông tin  liên quan đến các hãng xe, tuyến xe và các thông tin khác khi nhận được thông tin từ hãng xe hoặc phát hiện ra những thông tin mới có thể làm ảnh hưởng tới khách hàng cũng như uy tín của VeXeRe.com.<br />
    Từ chối, tạm ngừng hoặc chấm dứt cung cấp thông tin về hãng xe, các tuyến xe và các thông tin khác có liên quan trong trường hợp có cơ sở chứng minh các hãng xe cung cấp thông tin cho VeXeRe.com không chính xác, không đầy đủ, vi phạm pháp luật, đạo đức, thuần phong mỹ tục Việt Nam.<br />
    VeXeRe.com giữ bản quyền sử dụng dịch vụ và các nội dung trên VeXeRe.com theo quy định pháp luật về bảo hộ sở hữu trí tuệ tại Việt Nam. "VeXeRe.com" và tất cả các biểu tượng, logo, nội dung theo các ngôn ngữ khác nhau đều thuộc quyền sở hữu của VeXeRe.com. Nghiêm cấm mọi hành vi sao chép, sử dụng và phổ biến bất hợp pháp các quyền sở hữu trên.<br />
    Trách nhiệm của VeXeRe.com bao gồm: <br />
    Đăng tải và cập nhật các thông tin do hãng xe cung cấp để bán vé hoặc cung ứng dịch vụ khách hàng thông qua trang VeXeRe.com.<br />
    Thiết lập cơ chế cung cấp thông tin và đặt vé trên VeXeRe.com cho phép khách hàng tham gia VeXeRe.com thực hiện đúng quy trình đặt vé, mua vé, hủy vé trực tuyến qua website.<br />
    Tích cực hỗ trợ cơ quan quản lý nhà nước điều tra các hành vi kinh doanh vi phạm pháp luật; cung cấp các tài liệu như thông tin đăng ký, lịch sử dữ liệu giao dịch của đối tượng có hành vi vi phạm pháp luật trên sàn giao dịch thương mại điện tử.<br />
    Khi khách hàng mua vé và có phát sinh mâu thuẫn với hãng xe hoặc bị tổn hại lợi ích hợp pháp, VeXeRe.com cung cấp cho khách hàng thông tin về hãng xe khi có yêu cầu của cơ quan có thẩm quyền, tích cực hỗ trợ khách hàng bảo vệ quyền và lợi ích hợp pháp của họ.<br />
    Duy trì hoạt động bình thường của VeXeRe.com và khắc phục các sự cố xảy ra ảnh hưởng tới hoạt động của VeXeRe.com. Trường hợp xảy ra các sự kiện bất khả kháng, bao gồm nhưng không giới hạn bởi: Thiên tai, hỏa hoạn, biến động xã hội, các quyết định của cơ quan chức năng thì VeXeRe.com không phải chịu trách nhiệm liên đới.<br />
    Trách nhiệm của VeXeRe.com không bao gồm: <br />
    Bất kỳ dữ liệu không chính xác, không đầy đủ nào được cung cấp bởi khách hàng khi đặt vé.<br />
    Bất kỳ sự chậm trễ nào về giờ giấc, sự cố, hủy bỏ dịch vụ và tai nạn.<br />
    Bất kỳ hành vi sai trái nào của nhân viên hãng xe hoặc hành khách.<br />
    Tổn thất hay thiệt hại về hành lý.<br />
    Hành khách có mặt trễ tại điểm khởi hành.<br />
    Không thể liên lạc với hành khách qua điện thoại, hãng xe không gọi điện cho hành khách tại điểm khởi hành và bỏ đi mà không đón khách.<br />
    Hành khách không chờ đợi ở đúng điểm khởi hành.<br />
    Bất kỳ thay đổi nào về số ghế do hãng xe thực hiện mà không thông qua VeXeRe.com.<br />
    Hãng xe thay đổi điểm khởi hành vì bất cứ lý do nào.<br />
    Hãng xe sắp xếp một xe trung chuyển đón khách tại điểm khởi hành và hành khách sẽ lên một xe chính tại một nơi khác.<br />
    Việc đặt chỗ do đại lý thực hiện không chính xác, hành khách vui lòng trực tiếp liên hệ với đại lý.<br />
    Hãng xe không cung cấp tiện nghi như được đề cập trong lúc đặt chỗ.<br />
    Thay đổi loại xe do hãng xe thực hiện vì bất cứ lý do nào.<br />
    Loại xe do hãng xe dùng để trung chuyển hành khách.<br />
    <br />


    <b>Quyền và nghĩa vụ của hãng xe:</b><br />
    Nhằm bảo vệ quyền lợi hãng xe, Ban quản lý VeXeRe.com cung cấp cho các hãng xe những thông tin quan trọng cần biết trước khi VeXeRe.com tiến hành bán vé của hãng xe.<br />
    Được biết những thông tin phản hồi của khách hàng về chất lượng dịch vụ mà hãng xe cung cấp cho khách hàng khi có sự đồng ý của ban quản lý VeXeRe.com.<br />
    Hãng xe phải hoàn toàn chịu trách nhiệm về chất lượng dịch vụ được đăng tải trên VeXeRe.com. Trong mọi trường hợp, hãng xe phải có trách nhiệm giải quyết mọi khiếu nại của khách hàng liên quan tới chất lượng của dịch vụ cung cấp.<br />
    Hãng xe bắt buộc phải có trách nhiệm cung cấp các dịch vụ của mình đã được đăng lên trên VeXeRe.com khi khách hàng đã đặt mua trực tuyến. Trong trường hợp hãng xe không cung cấp dịch vụ hoặc không cung cấp dịch vụ được như nội dung đăng tin cho khách hàng mà không kịp thời thông báo lý do cho Ban quản lý VeXeRe.com thì Ban quản lý VeXeRe.com có trách nhiệm liên hệ với hãng xe để giải quyết đồng thời yêu cầu hãng xe bồi thường cho khách hàng và VeXeRe.com những thiệt hại do hãng xe gây ra.<br />
    Mọi thông tin giao dịch được bảo mật và không được chuyển giao cho bên thứ 3 nào khác, trừ trường hợp buộc phải cung cấp khi Cơ quan pháp luật yêu cầu.<br />
    <br />


    <b>Quyền và nghĩa vụ của hành khách mua vé: </b><br />
    VeXeRe.com sẽ không tính thêm bất kỳ phụ phí nào liên quan đến dịch vụ và cổng thanh toán ngoại trừ các khoản được nêu rõ tại trang chi tiết đặt chỗ.<br />
    Việc đặt vé được xem là đã xác nhận nếu trang xác nhận đặt vé được hiển thị cho hành khách, ngay cả khi hành khách không nhận được tin nhắn SMS hoặc Email vì bất cứ lý do nào.<br />
    Nếu không nhận được tin nhắn SMS/Email xác nhận hoặc hủy vé vì bất cứ lý do nào, hành khách có thể liên hệ chúng tôi để được hỗ trợ gửi lại. Thông tin gửi qua SMS / Email có thể không được gửi hoặc đến chậm vì nhiều lý do nằm ngoài kiểm soát của VeXeRe.com.<br />
    Hành khách phải khách phải ra trước 30p (đối với ngày lễ tết cần ra trước 60p) trước giờ khởi hành dự kiến, hoặc sớm hơn tùy theo quy định của hãng xe.<br />
    Thời gian đến và khởi hành ghi trên vé chỉ là thời gian dự kiến, nghĩa là sẽ có thể xảy ra trường hợp các chuyến xe bị trì hoãn. Vào ngày thực hiện chuyến đi hành khách nên liên hệ theo chi tiết liên hệ in trên vé để xác nhận địa điểm và thời gian khởi hành.<br />
    Tại thời điểm lên xe, hành khách sẽ được yêu cầu cung cấp các thông tin sau đây, nếu không hành khách có thể bị từ chối cho lên xe:<br />
    - Tin nhắn SMS vé hoặc Email có thông tin về vé (hầu hết hãng xe đều chấp nhận hình thức này);<br />
    - Một số hãng xe không chấp nhận các định dạng vé điện tử (thông tin chi tiết của các hãng xe này có trong phần đặt vé của VeXeRe.com), hành khách vui lòng in thông tin vé ra giấy và mang theo;<br />
    - Chứng minh nhân dân (hoặc các giấy tờ tùy thân có ảnh khác như hộ chiếu, giấy phép lái xe…).<br />
    Khi đặt chỗ tại VeXeRe.com, hành khách đã đồng ý cho phép VeXeRe.com gọi điện, Email, gửi tin SMS hoặc gửi thông báo để cung cấp thông tin hoặc lấy thông tin liên quan đến việc đặt chỗ của hành khách;<br />
    Trong trường hợp không có chỗ cho hành khách mặc dù hành khách đã được xác nhận chỗ, vì bất cứ lý do nào (lịch khởi hành xe thay đổi, hủy chuyến, sự kiện bất khả kháng, vấn đề vận hành, …), hành khách được quyền lựa chọn 1 trong các lựa chọn sau:<br />
    - VeXeRe sắp xếp vận chuyển hành khách trên chuyến xe gần nhất còn chỗ mà không thu thêm phí.<br />
    - Hoàn lại tiền vé cho hành khách đối với chuyến xe hành khách bị từ chối vận chuyển.<br />
    Khi hành khách đặt giữ chỗ tại VeXeRe, VeXeRe sẽ cố gắng đáp ứng vị trí chỗ theo yêu cầu của hành khách. Tuy nhiên, VeXeRe không đảm bảo chắc chắn bất cứ vị trí nào trên xe. VeXeRe bảo lưu quyền sắp xếp lại vị trí chỗ trên xe của hành khách vì lý do vấn đề về vận hành, an ninh, an toàn, sức khỏe, hay theo yêu cầu của cơ quan có thẩm quyền.<br />
    Khách hàng cần phải thường xuyên đọc và tuân theo các Chính sách và Quy định của Quy Chế Hoạt Động đang được đăng trên VeXeRe.com để có thể hiểu và thực hiện được các Chính sách và Quy định tại thời điểm đó.<br />
    <br />
</div>