
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutPage_KhachHang.cshtml";
}

<h1>Chính sách bảo mật</h1><br />
<div class="table border-top border-info">
    Vexere.com là nền tảng kết nối người dùng và nhà xe. Thông tin hành khách sẽ được chuyển đến nhà xe ngay khi khách hàng đặt vé thành công. Đặt vé qua hệ thống Vexere.com, khách hàng có thể yên tâm khi tất cả thông tin đều được chuyển đến nhà xe một cách đầy đủ và chính xác, cam kết 100% có vé cho khách hàng.<br />
    <h2>Mục đích áp dụng</h2><br />
    Bảo mật thông tin thanh toán khi giao dịch trên các sàn thương mại điện tử đang được khách hàng rất quan tâm. Sàn giao dịch thương mại điện tử Vexere.com được kết nối với nhiều tối tác Cổng Thanh Toán. Các Đối Tác như: Zalopay, VNPay, MoMo, Airpay,… đã được cấp phép hoạt động hợp pháp tại Việt Nam. Chính vì vậy, quy trình bảo mật khi thanh toán tại Vexere được tuân thủ theo tiêu chuẩn của đối tác thanh toán, tổ chức ngân hàng. <br />
    <br />

    <h2>Quy định cụ thể</h2><br />
    <h3>Chính sách bảo mật đảm bảo tuân thủ các tiêu chuẩn của các Đối Tác Cổng Thanh Toán</h3><br />
    – Tiêu chuẩn bảo mật dữ liệu trên internet SSL (Secure Sockets Layer).
    – Chứng nhận tiêu chuẩn bảo mật dữ liệu thông tin thanh toán (PCI DSS) do Trustwave cung cấp.
    – Tiêu chuẩn mã hóa SHA 256 bit.
    – Mật khẩu (OTP) được gửi qua SMS để đảm bảo việc truy cập tài khoản được xác thực. Mã hóa 3D của thẻ Visa và MasterCard (được xác nhận bởi Visa và MasterCard về tính bảo mật).
    – Các nguyên tắc và quy định bảo mật thông tin trong ngành tài chính ngân hàng theo quy định của Ngân hàng nhà nước Việt Nam.
    <br />

    <h3>Chính sách bảo mật giao dịch trong thanh toán của Vexere áp dụng với Khách hàng</h3><br />
    – Vexere cung cấp tiện ích lưu giữ token – chỉ lưu chuỗi đã được mã hóa bởi Đối Tác Cổng Thanh Toán cung cấp cho Vexere. Vexere không trực tiếp lưu trữ thông tin thẻ khách hàng. Việc bảo mật thông tin thẻ thanh toán được thực hiện bởi Đối Tác Cổng Thanh Toán được cấp phép.
    – Thẻ quốc tế: thông tin thẻ thanh toán có khả năng sử dụng để xác lập giao dịch không được lưu trên hệ thống của Vexere. Đối Tác Cổng Thanh Toán sẽ lưu trữ và bảo mật.
    – Đối với thẻ nội địa: Vexere chỉ lưu trữ mã đơn hàng, mã giao dịch và tên ngân hàng.
    <br />

    <h2>Cam kết của Vexere dành cho khách hàng</h2><br />
    Mọi thông tin mà khách hàng cung cấp trong suốt quá trình đặt vé sẽ được bảo mật tuyệt đối, không chuyển giao cho bên thứ ba nào khác, trừ trường hợp buộc phải cung cấp khi Cơ quan pháp luật yêu cầu.<br />
    Vexere sẽ có biện pháp xử lý khi phát hiện hoặc nhận được phản ánh từ khách hàng khi mua vé và có phát sinh mâu thuẫn với hãng xe. Vexere sẽ tích cực hỗ trợ và bảo vệ quyền và lợi ích hợp pháp của khách hàng.<br />
    Giá vé của khách hàng sẽ được thu đúng theo biểu giá tuyến đường do nhà xe cung cấp.<br />
    Trong trường hợp có bất cứ sự cố nào phát sinh trong quá trình sử dụng dịch vụ như nhà xe hủy chuyến, nhà xe không có thông tin khách,… Vexere sẽ cố gắng hỗ trợ khách hàng tìm dịch vụ thay thế tùy thuộc vào các lựa chọn sẵn có. Trong trường hợp không có dịch vụ thay thế nào, Vexere cam kết sẽ có chính sách bồi hoàn thỏa đáng, và sẽ được điều chỉnh theo từng trường hợp cụ thể.<br />
    Chúng tôi luôn hoan nghênh các ý kiến đóng góp, liên hệ và phản hồi thông tin từ bạn về “Chính sách bảo mật” này.<br />
</div>